.detail-container{
    width:100%;
    background:#fff;
    min-width:960px;
}
/* 头部面包屑 */
.detail-bread{
    width:100%;
    height:30px;
    margin-top:10px;
    background:#fff;
}
.detail-bread-container{
    width:90%;
    height:30px;
    min-width:960px;
    background:red;
    margin:0 auto;
    padding-top:4px;
    box-sizing:border-box;
}
.detail-bread-container a{
    color:#666;
    font-size:12px;
}
.detail-bread-container a:hover{
    color:#333;
}
/* 页面主体部分 */
.detail-main{
    width:100%;
    height:680px;
    background:#fff;
}
.detail-main-container{
    width:90%;
    height:660px;
    min-width:960px;
    margin:0 auto;
    background:green;
    position:relative;
    padding:10px;
    display:flex;
    justify-content:space-between;
}
.detail-description{
    width:100%;
    min-width:540px;
    height:620px;
    padding:10px;
    background:orange;
    box-sizing:border-box;
}
.detail-price{
    width:100%;
    height:60px;
    background:#ccc;
}
.detail-price div{
    width:100%;
    height:30px;
    line-height:30px;
}
.detail-price div span:first-child{
    margin-right:20px;
}
.detail-price div:last-child span:last-child{
    color:red;
    padding:2px;
    border:1px solid red;
}
.detail-serverice,.detail-code,.detail-product{
    width:100%;
    height:50px;
    line-height:50px;
}
/* 商品详情参数导航样式 */
.detail-relatve{
    width:100%;
    height:48px;
}
.detail-relatve-container{
    width:90%;
    margin:0 auto;
    height:48px;
    background:red;
}
/* 商品详情参数内容 */
.detail-parameter{
    width:100%;
}
.detail-parameter-container{
    width:90%;
    margin:0 auto;
}
.detail-parameter-container div{
    width:100%;
    height:500px;
}
.detail-parameter-container div h2{
    width:90%;
    margin:0 auto;
    border-bottom:1px solid #ccc;
}