.orderlist-container{
    background:#f5f5f5;
    width:100%;
}
/* 订单头部 */
.orderlist-top{
    width:100%;
    height:52px;
    background:#fff;
}
.orderlist-top-container{
    width:90%;
    margin:0 auto;
    height:52px;
    min-width:960px;
    display:flex;
    justify-content:space-between;
}
.orderlist-top-left{
    display:flex;
    height:52px;
    line-height:52px;
    justify-content:space-between;
    align-items:center;
}
.orderlist-top-left img{
    width:120px;
    height:30px;
}
.orderlist-top-left h2{
    margin:0 40px;
}
.orderlist-top-right{
    height:52px;
    padding:14px 0;
    box-sizing:border-box;
    position:relative;
    top:-6px;
}
/* 订单文字提示 */
.orderlist-tip{
    width:100%;
    height:30px;
}
.orderlist-tip-container{
    width:90%;
    min-width:960px;
    margin:0 auto;
    height:30px;
    display:flex;
    justify-content:space-around;
}
.orderlist-tip-container span{
    display:flex;
    align-items:center;
    height:30px;
    color:#f00;
}
/* 订单列表展示 */
.orderlist-play{
    width:100%;
}
.orderlist-play-container{
    width:90%;
    margin:0 auto;
    min-width:960px;
}
.orderlist-play-container>div{
    width:100%;
    margin:20px 0;
    display:flex;
    background:#ccc;
}
.orderlist-play-detail{
    width:70%;
    position:relative;
}
.orderlist-play-details{
    width:100%;
    height:30px;
    line-height:30px;
    display:flex;
}
.orderlist-play-details span{
    margin:0 15%;
    font-size:12px;
    display:block;
}
.orderlist-play-details span:first-child{
    width:100px;
    text-align:center;
}
.orderlist-delete{
    background:rgba(204,204,204,1);
    position:absolute;
    right:0;
    top:50%;
    text-align:center;
    width:40px;
    height:20px;
    line-height:20px;
    font-size:12px;
    transform:translateY(-50%);
    color:#ccc;
    
}
.orderlist-delete:hover{
    background:rgba(255,255,255,1);
    color:red;
}
.orderlist-play-message{
    display:flex;
    justify-content:space-around;
}
.orderlist-play-message span{
    height:100%;
    margin:0 10px;
    display:flex;
    align-items:center;
    font-size:12px;
}
.orderlist-play-message span:first-child{
    width:60px;
    text-align:center;
}
.orderlist-play-message span:last-child{
    width:200px;
}
/* 订单按钮 */
.orderlist-submit{
    width:100%;
    height:30px;
}
.orderlist-submit-container{
    width:90%;
    margin:0 auto;
    min-width:960px;
}
.orderlist-submit-container button{
    float:right;
}