.orderlist-container{
    background:#f5f5f5;
    width:100%;
}
/* 订单头部 */
.orderlist-top{
    width:100%;
    height:52px;
    background:#fff;
}
.orderlist-top-container{
    width:90%;
    margin:0 auto;
    height:52px;
    min-width:960px;
    display:flex;
    justify-content:space-between;
}
.orderlist-top-left{
    display:flex;
    height:52px;
    line-height:52px;
    justify-content:space-between;
    align-items:center;
}
.orderlist-top-left img{
    width:120px;
    height:30px;
}
.orderlist-top-left h2{
    margin:0 40px;
}
.orderlist-top-right{
    height:52px;
    padding:14px 0;
    box-sizing:border-box;
    position:relative;
    top:-6px;
}
/* 收货地址 */
.orderlist-address{
    width:100%;
    height:230px;
    background:#fff;
}
.orderlist-address-container{
    width:90%;
    min-height:230px;
    min-width:960px;
    margin:0 auto;
    box-sizing:border-box;
    padding:40px 40px 16px;
    display:flex;
    position:realtive;
}
.orderlist-address-input ul li{
    float:left;
    width:350px;
    height:120px;
    color:#666;
    font-size:16px;
    border:1px solid #333;
    margin:0 0 10px 10px;
    box-sizing:border-box;
    padding:10px;
    position:relative;
}
.orderlist-address-input ul li:last-child{
    margin:0 10px 10px;;
}
.orderlist-address-input ul li>div:first-child{
    display:flex;
    justify-content:space-between;
    font-size:20px;
}
.orderlist-address-input ul li p{
    font-size:16px;
}
.orderlist-address-input ul li>span{
    position:absolute;
    bottom:0px;
    right:10px;
    color:#fff;
}
.orderlist-address-input ul li>span:hover{
    color:red;
}
.ant-modal-content{
    width:600px;
    height:320px
}
.ant-modal-body{
    padding:0 !important;
}
.orderlist-modal-content{
    width:600px;
    height:200px;
   
    position:relative;
   
}
.orderlist-modal-content div{
    padding:10px;
}
.orderlist-modal-content div input{
    width:400px;
    height:30px;
    margin-left:30px;
}
.orderlist-modal-content div textarea{
    width:400px;
    outline:none;
    margin-left:30px;
}
/* 订单商品 */
.orderlist-product-list{
    width:100%;
    background:#fff;
}
.orderlist-product-container{
    width:90%;
    min-width:960px;
    margin:0 auto;
}
.orderlist-detail-message{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.orderlist-detail-message img{
    width:100px;
    height:100px;
}
.orderlist-detail-message p{
    position:relative;
    top:10px;
}
.orderlist-cheap-ticket{
    width:100%;
    height:150px;
    display:flex;
}
.orderlist-ticket-left{
    width:50%;
    height:150px;
}
.orderlist-ticket-left span:first-child{
    font-size:25px;
}
.orderlist-ticket-right{
    width:50%;
    height:150px;
}
.orderlist-ticket-right p{
    width:100%;
    height:20px;
    margin-top:10px;
    line-height:20px;
    font-size:16px;
}
/* 订单按钮 */
.orderlist-count{
    width:100%;
    height:300px;
}
.orderlist-count-container{
    width:90%;
    margin:0 auto;
    height:300px;
    padding:10px;
}
.orderlist-data-all{
    width:392px;
    height:300px;
    float:right;
}
.orderlist-count-container>div>div:first-child{
    color:#666;
    font-size:12px;
    width:392px;
    height:74px;
    text-align: right;
}
.orderlist-count-container>div>div:first-child>div:first-child{
    font-size:30px;
    color:red;
}
.orderlist-address-again{
    background: #fef6f3;
    border: 1px solid #fbd4c4;
    padding:10px 0;
    max-width: 350px;
    text-align: left;
    height:72px;
    margin-left:42px;
}
.orderlist-count-container button{
    margin-top: 20px;
    text-align: center;
    background: #ca141d;
    color: #fff;
    width: 172px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    border-radius: 2px;
    margin-left:220px;
    /* display:block; */
    
}